<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.helper.vladburca.helperapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/remind_me_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presenter.activity.HomeActivity"
            android:icon="@drawable/remind_me_icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activity.ApplicationSettingsActivity"
            android:label="@string/title_activity_application_settings" >
        </activity>
    </application>

</manifest>
